
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$pink: #FF006EFF;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #555;
$white: #fff;
$offWhite: #fbfbfb;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$sansCopy: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$italic: Georgia, $sansCopy;
$serif: Georgia, serif;
$fancyHeader: "Abril Fatface", Georgia, Helvetica, Arial;

// Imgs
$mastheadTexture: url("../images/diagmonds.png");

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}